//output:index.html
doctype HTML5
html
  head
    link(href="stylesheet.css", rel="stylesheet")
  body(id="bg") 
    img(id="imgBtn", src="ic_settings_white_24dp_1x.png")
    .sidebar
      img(id="closeBtn", src="ic_settings_white_24dp_1x.png")
      h1 Pick a Background Color
      .colorContainer
        .color1
          p #000000
        .color2
          p #000000
        .color3
          p #000000
        .color4
          p #000000
        .color5
          p #000000
        .color6
          p #000000
        .color7
          p #000000
        .color8
          p #000000
        .color9
          p #000000
        .color10
          p #000000
        .color11
          p #000000
        .color12
          p #000000
      
    .timeContainer
      p(id="time") 00:00:00
    script(src="scripts/functions.js", rel="text/Javascript")
