//output:index.html
doctype HTML5
//Icons Provided by Google, Find them at material.io/icons/
html
  head
    title 00:00:00
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
    link(href="stylesheet.css", rel="stylesheet")
    link(rel="icon", href="favicon.png")
  body(id="bg") 
    img(id="imgBtn", src="ic_settings_white_24dp_1x.png")
    #overlay
    .sidebar
      img(id="closeBtn", src="ic_close_black_24px.svg")
      h1 Pick a Background Color
      .colorContainer
        .color1
          p #83917a
        .color2
          p #2b748f
        .color3
          p #543956
        .color4
          p #ebcc89
        .color5
          p #387360
        .color6
          p #222222
        .color7
          p #54D5AD
        .color8
          p #0ee2db
        .color9
          p #6d6e99
        .color10
          p #3d1639
        .color11
          p #633636
        .color12
          p #a9a696
      .timePicker
        h1 Change time format 
          .buttonContainer
            button(type='button') 12Hour
            button(type='button') 24hour
      
    .timeContainer
      p(id="time") 00:00:00
      h5#date XX:XX:20XX
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="scripts/functions.js", rel="text/Javascript")
    
